.contact {
  position: fixed;
  padding: 7px 0px;
  margin-left: 1300px;
  width: 130px;
  height: 35px;
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 30px;
  background-color: #3e9055;
  margin-right: 15px;
  margin-top: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  animation: myAnim 1s ease 0s 1 normal forwards;
  font-weight: 500;
  cursor: pointer;
}

.contactRmv {
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}
@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menuOn {
  position: fixed;
  margin-left: 1350px;
  animation: myAnim 1s ease 0s 1 normal forwards;
  padding-top: 130px;
  cursor: pointer;
}

.menuOf {
  background-color: rebeccapurple;
  visibility: hidden;
}

.contactAlou {
  background-image: url("/src/img/backg.svg"),
    linear-gradient(to right top, #3e9055, #009076, #008d9d, #0087bf, #007bd2);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1004;
}

.formRead {
  background-color: #fff;
  max-width: 1140px;
  height: 90vh;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 50px;
  z-index: 1003;
}
.formRead h2 {
  text-align: center;
  padding-top: 30px;
}
.formRead p {
  text-align: center;
  padding-top: 60px;
}
.testBtn {
  background-color: rebeccapurple;
  height: 300px;
}
